#container {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

body {
    font-size: 14px;
    background-color: #f1f3f6;
    color: #212121;
    line-height: 1.6;
}

.nav {
    
    background-color: #2874f0;
    z-index: 0;
}

.non {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.icon {
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding-right: 20px;
}

.n_icon {
    margin: 5px;
}

.icon_1{
    height: 20px;
    width: 80px;
}

.icon_2{
    height: 10px;
    width: 10px;
}

.icon a {
    font-size: 14px;
    text-decoration: none;
    color: #ffff;
    font-style: italic;
}

.plus {
    font-style: italic;
    color: #ffe500;
}

.search_bar{
    display: flex;
    margin-top: 10px;
}

.search {
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    height: 36px;
    width: 512px;
    align-content: center;
}

.s_btn {
    border: 1px solid #fff;
    background-color: #ffff;
    padding: 2px;
    padding-left: 4px;
    padding-top: 6px;
}

#login{
    padding-top: 13px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-right: 40px;
}

.login {
    color: #2874f0;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
}

.more {
    padding-top: 7px;
}

.dropdown {
    /* float: left; */
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    /* outline: none; */
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    /* float: none; */
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(241, 241, 241);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#cart {
    padding-top: 17px;
    padding-left: 40px;
}

.cart {
    font-size: 16px;
    color: #ffff;
    text-decoration: none;
}

.item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.item_bar{
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
    background-color: #ffff;
}

.item img {
    width: 64px;
    height: 64px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 35px;
    margin-right: 35px;

}

.item a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: black;
    font-family: sans-serif;
}



.dropdown-Category {
    /* float: left; */
    overflow: hidden;
}

.dropdown-Category .dropbtn-Category {
    font-size: 14px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: inherit;
    cursor: pointer;
    
}

.dropdown-content-Category {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-Category a {
    /* float: none; */
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-Category a:hover {
    background-color: rgb(241, 241, 241);
}

.dropdown-Category:hover .dropdown-content-Category {
    display: block;
}




.poster_bar {
    height: 362px;
    margin-top: 15px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: #fff;
    display:flex ;
    justify-content: space-between;
    align-items: center;

}

#left {
    height: 85px;
    width:30px;
    border: #fff;
    background-color: #fff;
    box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.336);
    cursor: pointer;
}

#right {
    height: 85px;
    width:30px;
    border: #fff;
    background-color: #fff;
    box-shadow: -2px 1px 4px 1px rgba(0, 0, 0, 0.336);
    cursor: pointer;
}

.viewall {
    margin-top: 132px;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster {
    width: 230px;
    height: 100%;
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90");
    background-position: bottom;
    background-repeat: no-repeat;
}

.viewall button {
    width: 80px;
    height: 30px;
    color: #fff;
    border-width: 0px;
    background-color: #2874f0;
    cursor: pointer;
}

.sub_item {
    height: 100%;
    width: calc(100% - 230px);
    display: flex;
    overflow: auto;
} 

.sub_item::-webkit-scrollbar{
    width: 0;
}

.sub_item_s {
    width: 232px;
    height: 100%;
    padding: 0px, 15px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scrollbar-width: none;
}

.sub_item_s a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}         

.sub_item_s img {
    max-width: 300px;
    max-width: 300px;
}  

.item-name {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
    font-family: sans-serif;
}

.item-price {
    margin-top: 10px;
    font-size: 16px;
    color: #388e3c;
    font-family: sans-serif;

}

.item-category {
    opacity: 0.6;
    margin-top: 10px;
    font-weight: 300;
    font-size: 12px;
    color: #212121;
    font-family: sans-serif;
}

.section5 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.des-item{
    height: 50px;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    background-color: #fff;
    padding-top: 8px;
    padding-left: 15px;
}

.des{
    font-size: 23px;
    font-family: sans-serif;
}

#demo {
    padding-top: 5px;
    font-size: 18px;
    opacity: 0.6;

}

.demo {
    padding-top: 5px;
    font-size: 18px;
    opacity: 0.6;

}

.des-btn {
    padding-top: 4px;
    padding-left: 950px;
}

.des-item .des-btn button{
    width: 80px;
    height: 30px;
    color: #fff;
    border-width: 0px;
    background-color: #2874f0;
    align-items: center;
    cursor: pointer;
}

.time img{
    height: 20px;
    width: 20px;
    margin-top: 8px;
}

.poster_bar5 {
    height: 362px;
    margin-top: 2px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: #fff;
    display:flex ;
    justify-content: space-between;
    align-items: center;

}

.sub_item5 {
    height: 100%;
    /* width: calc(100% - 230px); */
    display: flex;
    overflow: auto;
 
} 

.sub_item5::-webkit-scrollbar{
    width: 0;
}

.sub_item_s5 {
    width: 232px;
    height: 100%;
    padding: 0px, 15px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub_item_s5 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}         

.sub_item_s5 img {
    max-width: 300px;
    max-width: 300px;
}



@media(max-width:1440px){
    .des-btn {
        padding-top: 4px;
        padding-left: 810px;
    }
    .poster_bar {
        height: 362px;
        margin-top: 15px;
        margin-left: 85px;
        margin-right: 85px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .poster_bar5 {
        height: 362px;
        margin-top: 2px;
        margin-left: 85px;
        margin-right: 85px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .des-item {
        height: 50px;
        margin-left: 85px;
        margin-right: 85px;
        display: flex;
        background-color: #fff;
        padding-top: 8px;
        padding-left: 15px;
    }
}
@media(max-width:1024px){
    .icon {
        display: flex;
        flex-direction: column;
        margin: 2px;
        padding-right: 0px;
    }
    .search {
        padding: 0 16px;
        border-radius: 2px 0 0 2px;
        border: 0;
        outline: 0 none;
        font-size: 14px;
        height: 36px;
        width: 410px;
        align-content: center;
    }
    .item img {
        width: 64px;
        height: 64px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 14px;
        margin-right: 14px;
    }
    body {
        font-size: 12px;
        background-color: #f1f3f6;
        color: #212121;
        line-height: 1.6;
    }
    .dropdown-Category .dropbtn-Category {
        font-size: 12px;
        border: none;
        outline: none;
        color: rgb(0, 0, 0);
        background-color: inherit;
    }
    .poster_bar {
        height: 362px;
        margin-top: 15px;
        margin-left: 50px;
        margin-right: 50px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .des-btn {
        padding-top: 4px;
        padding-left: 475px;
    }
    .poster_bar5 {
        height: 362px;
        margin-top: 2px;
        margin-left: 50px;
        margin-right: 50px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .des-item {
        height: 50px;
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        background-color: #fff;
        padding-top: 8px;
        padding-left: 15px;
    }
}
@media(max-width:768px){
    .icon a {
        font-size: 12px;
        text-decoration: none;
        color: #ffff;
        font-style: italic;
    }
    .search {
        padding: 0 16px;
        border-radius: 2px 0 0 2px;
        border: 0;
        outline: 0 none;
        font-size: 14px;
        height: 36px;
        width: 275px;
        align-content: center;
    }
    #login {
        padding-top: 13px;
        padding-left: 8px;
        padding-bottom: 10px;
        padding-right: 8px;
    }
    .dropdown .dropbtn {
        font-size: 14px;
        border: none;
        outline: none;
        color: white;
        padding: 13px 8px;
        background-color: inherit;
        margin: 0;
    }
    #cart {
        padding-top: 17px;
        padding-left: 12px;
    }
    .item img {
        width: 64px;
        height: 64px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .poster_bar {
        height: 362px;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .poster_bar5 {
        height: 362px;
        margin-top: 2px;
        margin-left: 15px;
        margin-right: 15px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .des-item {
        height: 50px;
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        background-color: #fff;
        padding-top: 8px;
        padding-left: 15px;
    }
    .des-btn {
        padding-top: 4px;
        padding-left: 300px;
    }
}
@media(max-width:425px){
    .non {
        display: flex;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .search {
        padding: 0 16px;
        border-radius: 2px 0 0 2px;
        border: 0;
        outline: 0 none;
        font-size: 14px;
        height: 36px;
        width: 78px;
        align-content: center;
    }
    .login {
        color: #2874f0;
        font-weight: 500;
        background-color: #fff;
        cursor: pointer;
        border-radius: 2px;
        height: 32px;
        padding: 5px 10px;
        border: 1px solid #dbdbdb;
    }
    .dropdown .dropbtn {
        font-size: 12px;
        border: none;
        outline: none;
        color: white;
        padding: 13px 0px;
        background-color: inherit;
        margin: 0;
    }
    .item img {
        width: 35px;
        height: 35px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .item {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .dropdown-Category .dropbtn-Category {
        font-size: 9px;
        border: none;
        outline: none;
        color: rgb(0, 0, 0);
        background-color: inherit;
    }
    body {
        font-size: 9px;
        background-color: #f1f3f6;
        color: #212121;
        line-height: 1.6;
    }
    .poster_bar {
        height: 362px;
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #fff;
        display: flex;
        align-items: center;
    }
    .viewall {
        margin-top: 132px;
        width: 100%;
        font-size: 19px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .viewall button {
        width: 63px;
        height: 23px;
        color: #fff;
        border-width: 0px;
        background-color: #2874f0;
    }
    .poster {
        width: 145px;
        height: 100%;
        background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90);
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .poster_bar5 {
        height: 362px;
        margin-top: 2px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .des-item {
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        background-color: #fff;
        padding-top: 8px;
        padding-left: 15px;
    }
    .des-btn {
        padding-top: 4px;
        padding-left: 13px;
    }
}
@media(max-width:320px){
    .icon_1 {
        height: 17px;
        width: 63px;
    }
    .icon a {
        font-size: 9px;
        text-decoration: none;
        color: #ffff;
        font-style: italic;
    }
    .search {
        padding: 0 6px;
        border-radius: 2px 0 0 2px;
        border: 0;
        outline: 0 none;
        font-size: 11px;
        height: 29px;
        width: 78px;
        align-content: center;
    }
    .s_btn {
        border: 1px solid #fff;
        background-color: #ffff;
        padding: 0px;
        padding-left: 1px;
        padding-top: 1px;
    }
    .login {
        color: #2874f0;
        font-weight: 100;
        background-color: #fff;
        cursor: pointer;
        border-radius: 2px;
        height: 27px;
        padding: 0px 6px;
        border: 1px solid #dbdbdb;
    }
    #login {
        padding-top: 11px;
        padding-left: 5px;
        padding-bottom: 0px;
        padding-right: 5px;
    }
    .dropdown .dropbtn {
        font-size: 12px;
        border: none;
        outline: none;
        color: white;
        padding: 7px 0px;
        background-color: inherit;
        margin: 0;
    }
    #cart {
        padding-top: 13px;
        padding-left: 2px;
    }
    .cart {
        font-size: 12px;
        color: #ffff;
        text-decoration: none;
    }
    .item img {
        width: 27px;
        height: 27px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .dropdown-Category .dropbtn-Category {
        font-size: 7px;
        border: none;
        outline: none;
        color: rgb(0, 0, 0);
        background-color: inherit;
    }
    body {
        font-size: 7px;
        background-color: #f1f3f6;
        color: #212121;
        line-height: 1.6;
    }
    .item img {
        width: 27px;
        height: 27px;
        margin-top: 6px;
        margin-bottom: -6px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .item a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        color: black;
        font-family: sans-serif;
        margin-bottom: 1px;
    }
    .sub_item {
        height: 100%;
        width: calc(100% - 41px);
        display: flex;
        overflow: auto;
    }
    .des {
        margin-top: 2px;
        font-size: 11px;
        font-family: sans-serif;
    }
    #demo {
        padding-top: 4px;
        font-size: 11px;
        opacity: 0.6;
    }
    .time img {
        height: 11px;
        width: 11px;
        margin-top: 5px;
    }
    .demo {
        padding-top: 4px;
        font-size: 11px;
        opacity: 0.6;
    }
    .des-item .des-btn button {
        width: 68px;
        height: 23px;
        color: #fff;
        border-width: 0px;
        background-color: #2874f0;
        align-items: center;
        border-radius: 2px;
    }
    .des-btn {
        padding-top: 0px;
        padding-left: 52px;
    }
    .des-item {
        height: 39px;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        background-color: #fff;
        padding-top: 8px;
        padding-left: 15px;
    }
}